
*{
    margin:0;
    padding:0;
    }
    
    body{
    background-color:#FF867D;
    margin:0;
    padding:0
    font-family:Arial, Helvetica, sans-serif;
    font-size:16ppx;
    }
    
    .navbar{
    width:100%:
    height:40px;
    line-height:100%;
    border-radius:24px;
    -moz-border-radius:24px;
    box-shadow:2px 2px 3px #666666;
    -webkit-box-shadow:2px 2px 2px 3px #666666;
    background-color:white;
    background:white;
    color:white;
    display:flex;
    text-decoration:none;
    justify-content:space-evenly;
    align-content:center;
    margin:0;
    padding:0;
    overflow:hidden;
    border:solid 1px #6d6d6d;
    position: relative;;
    z-index:999;
    }
    
    .navbar:hover{
    border-bottom:3px solid salmon;
    }
    .navbar a.active{
    border-bottom:3px solid salmon;
    }
    
    .Button{
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        background-color:#ffffff;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:rgb(245, 93, 76);
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
    }
    
    .Button:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        background-color:#f6f6f6;
    }
    
    .Button:active {
        position:relative;
        top:1px;
    }
    
    .content-section{
    margin:20px;
    padding:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    }
    
    p{
    margin:25px;
    padding:25px;
    display:flex;
    flex-direction:column;
    line-height:1.6;
    }
    
    h2{
        margin:20px;
        padding:20px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        }
        
        h3{
        margin:20px;
        padding:20px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        }
        .content-section.button{
            background-color:salmon;
            text-align:center;
        border-radius:50px 20px;
        border:2px solid grey;
        }
        .content-section.button:hover{
        background-color:salmon;
        }
        @media(max-width:1000px) {
        h1{
        flex-direction::column;
        }
    }
        .footer-content{
            margin:50px;
            padding:25px;
           display:flex;    
           justify-content:center;
           align-items:center;
           margin-bottom:-50px;
           height:50px;
           background-color:white;
        }
    
    
        /* mobile */
        @media only screen and(max-width:600px) {
        
            #navbar{
                width:100%:
                height:40px;
                line-height:100%;
                border-radius:24px;
                -moz-border-radius:24px;
                box-shadow:2px 2px 3px #666666;
                -webkit-box-shadow:2px 2px 2px 3px #666666;
                background-color:white;
                background:white;
                color:white;
                display:flex;
                left:0;
                right:0;
                margin:0;
                padding:0;
                text-decoration:none;
                justify-content:space-evenly;
                align-content:center;
                overflow:hidden;
                border:solid 1px #6d6d6d;
                position:absolute;
                z-index:999;
                }
                
    
        #h1{
        font-size:24px;
        }
    
        